@import "mixins";

.exchanger-pane {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -100vw;
    transition: right .3s ease;
    background: url('../images/wallpaper.jpg') black;
    background-size: cover;
    z-index: 1000;
    &_open {
        right: 0;
    }
    &__content {
        display: flex;
        flex-direction: column;
        &-item {
            position: relative;
            &:nth-child(1n) {
                &:after {
                    content: '';
                    display: block;
                    position: absolute;
                    bottom: -9px;
                    left: 50%;
                    transform: translateX(-50%);
                    .triangle(down, 10px, transparent);
                }
            }
            &:nth-child(2n) {
                background: rgba(0, 0, 0, 0.2);
            }
        }
    }
    &__carousel {
        &-item {
            padding: 10px 20px;
        }
    }
}
