@import "mixins";

.rates-pane {
    .app-pane();
    &__footer {
        display: flex;
        align-items: center;
        justify-content: center;
        &_padded {
            padding-top: 50px;
        }
    }
}
