@import "mixins";

.top-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 0;
    &__item {

    }
    &__control {
        .top-menu-control();
    }
}
